<div class="intro-header">
  <div class="rellax fade-scroll" data-rellax-speed="-4">

    <center>
      <video poster="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"class="me-moji" width="125" height="125" loop muted autoplay>
        <source src="/assets/img/uploads/misc/me-small.mp4 " type="video/mp4">
      </video>
    </center>

    <h1 class="animated-header">{{ page.headline }}</h1>
    <h1 class="mobile-header">{{ page.headline }}</h1>


    <p>{{ page.subhead }}</p>

  </div>
</div>
