<nav class="nav">
  <div class="nav-container">

    <p class="name" onclick="location.href='/'">Oliver Engel</p>

    <div class="links">
      <a href="/" {% if page.url == "/" or page.url contains "/work" or page.url contains "/play" %}class="active" {% endif %}>
        Work</a>
      <a href="/words" {% if page.url contains "/words"%}class="active" {% endif %}>
        Words</a>
      <!-- <a href="/photo" {% if page.url contains "/photo"%}class="active" {% endif %}>
        Photo</a> -->
      <a href="/info" {% if page.url contains "/info"%}class="active" {% endif %}>
        Info</a>
    </div>

    <p class="subhead updated-last" style="margin-bottom: 0px;">WORK IN PROGRESS <i class="fas fa-exclamation-triangle"></i></p>
  </div>
</nav>
