<nav class="nav" id="hide-nav">
  <div class="nav-container">
    <div class="links">

        <a href="/" {% if page.url == "/"%}class="active"{% endif %}>
          Work</a>
        <a href="/words.html" {% if page.url == "/words"%}class="active"{% endif %}>
          Words</a>
        <a href="/info" {% if page.url == "/info"%}class="active"{% endif %}>
          Info</a>


    </div>

    <!-- <div class="links right-side">

        <a style="opacity:.3">May 2020 ⌘</a>


    </div> -->
  </div>
</nav>
