<div class="grid-2" style="padding-top:0px;">


  <div class="portfolio-grid-item" id="item-one">
    <a class="sibling-hover" data-tippy-content="Read Case Study" href="dashboard.html" id="boundless">
      <img class="image-crop hvr-shrink" src="/assets/img/uploads/ch-new.jpg"></a>
    <h3 class="sibling-highlight">Boundless</h3>
    <p id="boundless-text" class="gray-text">Crafting a dashboard experience</p>
  </div>

  <div class="portfolio-grid-item" id="item-two">
    <a class="sibling-hover" data-tippy-content="Read Case Study" href="pitch.html">
      <img class="image-crop hvr-shrink" src="/assets/img/uploads/pitch-2.jpg"></a>
    <h3 class="sibling-highlight">Pitch.ai</h3>
    <p class="gray-text">Lean UX for an AI web app</p>
  </div>
</div>
