html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

body {
  // color: #DFBAB9;
  overflow-x: hidden;
  background: $bg-color;
  font-family: $body-font, sans-serif;
  font-weight: $body-font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures;
}

img {
  border-radius: 1px;
  width: 100%;
  // max-height: 500px;
  // object-fit: cover;
  // transition: 0.3s;
  background: black;
  // border: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;

}

.project-header-content > * {
  color: $off-white;
}

.grid-2 {
  display: grid;
  margin-bottom: 18px;
  padding-top: 50px;
  grid-gap: 1.5em;
  grid-template-columns: 1fr 1fr;
}

.project-header {
  height: 90vh;
  width: 100vw;
  background-color: $bg-color;
  color: $off-white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
}
@keyframes color_change {
  from {
    color: $red;
  }

  to {
    color: $off-white;
  }
}

.letter {
  animation: 1.5s ease-out 0s 1 color_change;
}

.content {
  padding: 200px 5vw;
  animation: 0.6s ease-out 0s 1 fadeInAnimation;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.content-narrow{
  margin: 0 auto;
  width:700px;
  max-width:100%;
}

.portfolio-grid-item {
  animation: 0.52s ease-out 0s 1 slideUp;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-module {
  padding-top: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-header-content {
  // position: fixed;
  // bottom:50px;
  // max-width: 960px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.blog-entry{
  margin-bottom:100px;
}

.blog-entry:hover{
  cursor: pointer;
}

.blog-entry:hover > img{
  box-shadow: 0px 0px 30px 5px rgba(255,255,255,.1);
      /* in order: x offset, y offset, blur size, spread size, color */
}

.blog-entry:hover a{
  opacity:1 !important;
  color:$off-white;
}

.blog-entry img{
  transition: 0.3s all;
  height:300px;
  object-fit: cover;
  margin-bottom: 24px;
}

.blog-date{
  font-size:.8em;
}
