
$body-color: #000;
$purple: #302ecd;
$light-purple: #EBEAFB;
$dark-gray: #2d2f32;
$sidebar-text: #61606b;
$nav-links: #846263;
$green-light: #ECF4EE;
$red-text: #d83a32;
$logo-color: #10c172;
$hover-text: #302ecd;
$light-gray-text: #667189;
$border-gray: #e1e0e4;
$yellow: #989615;
$light-yellow: #F4F3D9;
$portfolio-p: #60768b;
$bg-color: #171817;
$gray-header-text: #8390a5;



/* FONTS */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #DFBAB9;
  overflow-x: hidden;
  background: $bg-color;
  font-family: $body-font, sans-serif;
  font-weight: $body-font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures;
}


img {
  border-radius: 1px;
  width: 100%;
  max-height:500px;
  object-fit: cover;
  transition: 0.3s;
  background: black;
  border: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}



.project-header-content>* {
  color: $off-white;
}


.grid-2 {
  display: grid;
  margin-bottom: 18px;
  padding-top: 50px;
  grid-gap: 1.5em;
  grid-template-columns: 1fr 1fr;
}


.project-header {
  height: 90vh;
  width: 100vw;
  background-color: $bg-color;
  color: $off-white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

@keyframes color_change {
	from { color: $red }
	to { color: $off-white; }
}

.letter{
   animation: 1.5s ease-out 0s 1 color_change;
}


.content{
  padding: 0 5vw 0 5vw;
}

.portfolio-grid-item{
  animation: .52s ease-out 0s 1 slideUp;
}



@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.project-header-content {
  // position: fixed;
  // bottom:50px;
  // max-width: 960px;

  display: flex;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}

.CTA{
  // font-family: "Tiempos Text";
  text-align:left;
  position:fixed;
  color:white;
  bottom: 5vh;
  left:5vw;
  font-size:18px;
}

.CTA-middle{
  font-family: "Apoc Trial";
  text-align:center;
  position:fixed;
  color:white;
  bottom: 5vh;

  font-size:18px;
}

.CTA-right{
  text-align:left;
  position:fixed;
  color:white;
  bottom: 5vh;
  right:5vw;
  font-size:18px;
}

.vertical-line{
  border-left: thin solid white;
    width: 2px;
    color: #fff;
    padding-top: 50px;
}

.home-animated{
  background-image: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
	background-size: 300% 300%;
	animation: gradientBG 10s ease infinite;
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
