@font-face {
    font-family: 'Graphik';
    font-display: auto;
    src: url('/assets/fonts/Graphik-Regular.woff2') format('woff2'),
        url('/assets/fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    font-display: auto;
    src: url('/assets/fonts/Graphik-Medium.woff2') format('woff2'),
        url('/assets/fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Saol Display';
    src: url('/assets/fonts/SaolDisplay-Regular.woff2') format('woff2'),
        url('/assets/fonts/SaolDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
