@font-face {
    font-family: 'Graphik';
    font-display: auto;
    src: url('/assets/fonts/Graphik-Regular.woff2') format('woff2'),
        url('/assets/fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    font-display: auto;
    src: url('/assets/fonts/Graphik-Medium.woff2') format('woff2'),
        url('/assets/fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apoc';
    src: url('/assets/fonts/Apoc-Light.woff2') format('woff2'),
        url('/assets/fonts/Apoc-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
