// List your mixins in here to keep things tidy

// A basic button
@mixin button($btn-bg, $btn-text) {
  font-weight: $bold-font-weight;
  padding: 2rem;
	line-height: $base-line-height;
	color: $btn-text;
	background-color: $btn-bg;
	border: 3px solid $btn-bg;
}

// Disable text selection
@mixin user-select($argument: none){
  -webkit-user-select: $argument;
  -moz-user-select: $argument;
  -ms-user-select: $argument;
  user-select: $argument;
}

@mixin blog-theme {
  background-color: #F3F3F3;

  p {
    font-family:"Fakt";
    line-height:1.64;
    color:#2b2b2b;
    font-weight: 400;
  }

  .post-header{
    background-color: #F3F3F3;
    margin-top:-100px;
    padding: 0px 50px 0px 50px;

  }

  nav{
    background-color: #F3F3F3;

  }

  h2{
    // padding-top:50px;
  }

  img{
    // width:60vw;
    // margin:0 auto;
    // margin-left: calc(-50vw + 50%);

  }


  @include typography-dark;
}


@mixin typography-dark{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color:#2b2b2b;
  }
}
