/* NAVIGATION */
.nav {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-color;
  transition: all 0.3s;
  padding: 0 15px;
}

.nav-container {
  width: $content-max-width;
  max-width:100%;
  margin: auto;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

    .subhead{
      font-size:.75em;
    }



}

.nav .nav-container {
  display: flex;
  height: 100px;
  align-items: center;
  -ms-flex-align: center;

  @media (max-width: $screen-md-min){
    display:block !important;
    text-align: center;
    padding-top:20px;
  }
}

.name {
  cursor: pointer;
  opacity: 1;
  font-size: 22px;
  color: $off-white;
  margin-bottom: 2px;
  @media (max-width: $screen-xs-min) {
    display: none;
  }
}

.updated-last {
  opacity:.5;
  @media (max-width: $screen-sm-min) {
    display: none;
  }
}

.active {
  padding-bottom: 3px;
  opacity: 1 !important;
  color: $active-link !important;
  text-decoration: none !important;
  border-bottom: 1px solid $active-link;
  font-weight: 600;
}

.links{
    a{
      user-select: none;
      text-decoration: none;
      opacity: 0.3;
      margin-right: 25px;
      color: $off-white;
      font-size: .8em;
      font-weight: 400;
      transition: 0.3s;
    }

    a:last-child {
      margin-right: 0;
    }

    a:hover {
      opacity: 0.75;
      text-decoration: none;
      transition: 0.3s;
    }
}
