/* NAVIGATION */
.nav {
  z-index: 1000;
  position: fixed;
  width:100%;
  text-align: center;


}



.nav-container {
  // width: 100%;
  top: 50px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  padding:10px 20px 10px 20px;
  border-radius:3px;
  background-color: rgba(23,24,23, .95);

}


.fade-in {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

.active {
  animation: 0.2s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 active_link_color;
  padding-bottom: 3px;
  opacity: 1 !important;
  color: $green !important;
  text-decoration: none !important;
  border-bottom: 1px solid $green;
}

@keyframes active_link_color {
  from {
    color: $off-white;
    opacity: 0.75;
    border-bottom: 1px solid rgba(0,0,0,0);
  }

  to {
    color: $green;
    border-bottom: 1px solid $green;
  }
}

.links > a {
  user-select: none;
  text-decoration: none;
  opacity: 0.3;
  margin-right: 25px;
  color: $off-white;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.links > a:last-child{
  margin-right:0px;
}

.links a:hover {
  opacity: 0.75;
  text-decoration: none;
  transition: 0.3s;
}
