/* NAVIGATION */

.nav {
  z-index    : 1000;
  position   : fixed;
  top        : 0;
  left       : 0;
  width      : 100%;
  background-color : $bg-color;
  transition: all 0.3s;
  font-size  : .85rem;
  padding: 0px 15px 0px 15px;

}

.nav-container {

  max-width       : $content-max-width;
  margin          : auto;
  -ms-flex-pack   : justify;
  -ms-flex-wrap   : wrap;
  flex-wrap       : wrap;
  justify-content : space-between;
  align-items: center;
}

.nav .nav-container {
  display        : flex;
  height         : 100px;
  align-items    : center;
  -ms-flex-align : center;

}

.name{
  opacity:1;
  font-size:22px;
  color:$off-white;
  margin-bottom: 2px;

  @media (max-width: $screen-xs-min){
    display:none;
  }
}

.updated-last{
  @media (max-width: $screen-sm-min){
    display:none;
  }
}




.active {
  // animation: 0.2s cubic-bezier(0.87, 0, 0.13, 1) 0s 1 active_link_color;
  padding-bottom: 3px;
  opacity: 1 !important;
  color: $active-link !important;
  text-decoration: none !important;
  border-bottom: 1px solid $active-link;
  font-weight: 600;

}

@keyframes active_link_color {
  from {
    color: $off-white;
    opacity: 0.75;
    border-bottom: 1px solid rgba(0,0,0,0);
  }

  to {
    color: $green;
    border-bottom: 1px solid $green;
  }
}

.links > a {
  user-select: none;
  text-decoration: none;
  opacity: 0.3;
  margin-right: 25px;
  color: $off-white;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
}

.links > a:last-child{
  margin-right:0px;
}

.links a:hover {
  opacity: 0.75;
  text-decoration: none;
  transition: 0.3s;
}
