// LAYOUTS
$content-max-width: 1200px;
$content-narrow-max-width: 660px;
$vertical-rhythm: 50px;


// MAIN COLORS
$gray: #3c3c3c;
$blue: #2890ff;
$green: #0EFF43;
$off-white: #E9EDEA;
$red: #e24329;
$active-link: #DFBAB9;
$bg-color: #161618;
$bg-gray: #222225;

// TYPE COLORS
$text-light-gray: #d4d4d4;
$text-gray: #969696;
$text-dark-gray: #808080;

// ANIMATIONS
$quickest: 0.4s;
$quick: 0.6s;
$slow: 1s;
$slowest: 1.5s;

// BREAKPOINTS
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1240px;
$screen-xl-min: 1920px;
