// site colours

$nav-color: #fff1e8;
// $bg-color: #171817;
$bg-color: #161618;
// $bg-color: #111111;

$active-link: #DFBAB9;
$content-max-width: 1200px;
$content-narrow-max-width: 660px;

$black: #141415;
$gray: #3c3c3c;
$blue: #2D3149;
$green: #0EFF43;
$off-white: #E9EDEA;
$red: #e61f1f;

$text-gray: #969696;
// $text-gray: #adadad;



// viewport breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1240px;
$screen-xl-min: 1920px;
