//Page fader
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  pointer-events: none;
  // background: red;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes fade-in {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}


.animated:hover {
  -webkit-animation-duration  : 1s;
  animation-duration          : 1s;
  -webkit-animation-fill-mode : both;
  animation-fill-mode         : both;
}

.has-animation {
  opacity            : 0!important;
  transform          : translateY(60px);
  -webkit-transition : transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s,
                       opacity .5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s;
  -webkit-transition : translateY(60px);
  transition         : transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s,
                       opacity .5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s;
}


.animate-in {
  opacity            : 1!important;
  transform          : translateY(0px);
  -webkit-transition : translateY(0px);
}

.has-animation-nav {
  opacity            : 0!important;
  transform          : translateY(60px);
  -webkit-transition : transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s,
                       opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s;
  -webkit-transition : translateY(60px);
  transition         : transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s,
                       opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s;
}

.appearing{
  animation: fadeappear .8s;
    -moz-animation: fadeappear .8s; /* Firefox */
    -webkit-animation: fadeappear .8s; /* Safari and Chrome */
    -o-animation: fadeappear .8s; /* Opera */
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeappear {
    from {
        transform: translateX(-50px);
        opacity:0;
    }
    to {
      transform: translateX(0px);
        opacity:1;
    }
}
@-moz-keyframes fadeappear { /* Firefox */
  from {
      transform: translateX(-50px);
      opacity:0;
  }
  to {
    transform: translateX(0px);
      opacity:1;
  }
}
@-webkit-keyframes fadeappear { /* Safari and Chrome */
  from {
      transform: translateX(-50px);
      opacity:0;
  }
  to {
    transform: translateX(0px);
      opacity:1;
  }
}
@-o-keyframes fadeappear { /* Opera */
  from {
      transform: translateX(-50px);
      opacity:0;
  }
  to {
    transform: translateX(0px);
      opacity:1;
  }
}
