.photo-grid-wrapper{
  width: 100%;
  position:relative;
}

.photo-grid{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  padding: 25px 25px 25px 275px;

  @media(max-width: $screen-md-min){
    padding: 25px 25px 25px 25px;
  }

  .photo-grid-image{
    max-height:80vh;
    max-width:100%;
  }

  img:first-child{
    display:flex;
  }

  img{
    display:none;
  }


}

.top-nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding:10px;

  .name{
    display:block !important;
  }
}

.sidebar{
  position:absolute;
  left:60px;
  top:10vh;
  width:200px;


}

.site-return{
  z-index:40000;
  position:absolute;
  left:60px;
  bottom:10vh;
  width:200px;

  a{
  }

  a:hover{
    color:$blue;
  }
}

.desktop{
  @media (max-width: $screen-sm-min){
    display: none;
  }
}

.mobile{
  display: none;
  @media (max-width: $screen-sm-min){
    display: grid;
  }

  img{
    max-width:100% !important;
    width:auto;
    max-height:80vh;
    padding: 25px 5px 25px 5px;
  }
}



.sidebar-wrapper{
  z-index:20000;
}

.photo-page{
  img{
    user-select: none;
    max-height: 100%;
    width:auto;
    margin-right:25px;
  }

  a{
    font-size: .8em;
  }
}

.next{
  z-index:10000;
  position: absolute;
  right:0px;
  top:10vh;
  width:50vw;
  height:80vh;
  cursor: e-resize;
}

.back{
  z-index:10000;
  position: absolute;
  left:0px;
  top:10vh;
  width:50vw;
  height:80vh;
  cursor: w-resize;
}

.light-theme{
  background:white !important;

  .name {
    line-height: 1.25em;
    cursor: pointer;
    opacity: 1;
    font-size: 22px;
    color: $bg-color;
    margin-bottom: 2px;
    @media (max-width: $screen-xs-min) {
      display: none;
    }
  }
}
