$header-font: "Apoc";
$header-font-weight: 400;
$header-color: #000;
$body-font: "Graphik";
$body-font-weight: 400;

*{
  font-display: swap;
}


h2,
h3,
h4,
h5,
h6 {
  color:$off-white;
  margin-top: 0;
  font-family: $body-font, sans-serif;
  font-weight: $header-font-weight;
  margin-bottom:.25em;
}




h1 {
  margin-top: 0;

  font-family: $header-font, sans-serif;
  user-select: none;
  font-size: 100px;
  // letter-spacing: -.06em;
  line-height:140px;
  font-weight:400;
}

h2 {
  font-size: 1.999em;
  letter-spacing: -.03em;
}

h3 {
  font-size: 1.414em;
  line-height: 1.3em;}

h4 {font-size: 1.2em;}

h5 {font-size: 1em;}

p {
  font-family: $body-font, sans-serif;
  color:$text-gray;
  // opacity:.6;
  margin-top: 0px;
  font-size:1em;
  line-height: 1.8em;
}

*::selection {
  background: #0EFF43;
}

b {
  font-weight: 500;
}


.ml16 {
  font-weight: $header-font-weight;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

p > a{
  transition: 0.3s all;
  user-select: none;
  text-decoration: none;
  color:inherit;
  border-bottom: 1px solid;
  padding-bottom:3px;
}
