@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/fader",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/navigation",
  "partials/animations",
  "partials/app",
  "partials/words",
  "partials/project",
  "partials/footer",
  "partials/photo"
;
