---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body class="light-theme">

    <script src="/assets/js/fader.js"></script>
    <svg id="fader"></svg>
    <script>
      fadeInPage();
    </script>


    <div class="full-page-content">
      {{content}}
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <script src="/assets/js/scripts.js"></script>
    <script src="/assets/js/rellax.min.js"></script>



  </body>

</html>
