---
layout: default
title: Info
---


<section class="content">

<div class="about-module">
  <img class="profile-pic" src="assets/img/uploads/misc/me.jpg">
  <div>
    <h1>Hiya.</h1>
    <p>I'm a product designer at Boundless in Seattle, WA. Lover of interface design, typography, Hawaiian shirts, Radiohead, Belgian beer, IDM, photography, cinematography, thrift stores, typography, illustration, motion design, PF Flyers, creative coding... did I mention typography?</p>
  </div>
</div>



</section>
