---
layout: default-sidebar
---

<body class="light-theme">

  <div class=" top-nav mobile">
    <p class="name" onclick="location.href='/'">Oliver Engel<br><span style="color:Gray;">Photography</span></p>
    <a href="/">← Back to Work</a>

  </div>

    <div class="photo-page">

      <div class="sidebar-wrapper desktop">

        <section class="sidebar">
          <p class="name" onclick="location.href='/'">Oliver Engel<br><span style="color:Gray;">Photography</span></p>
        </section>

        <section class="site-return" >
          <a href="/">← Back to Work</a>
        </section>

      </div>


      <div class="photo-grid-wrapper desktop">

        <div class="next" onclick="nextImage();"></div>
        <div class="back" onclick="prevImage();"></div>

        <div class="photo-grid">
          {% for image in site.static_files %}
            {% if image.path contains '/assets/img/photo/' %}
                    <img class="photo-grid-image" class="showImage" loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="" />
            {% endif %}
          {% endfor %}
        </div>

      </div>

      <div class="mobile">
        {% for image in site.static_files %}
          {% if image.path contains '/assets/img/photo/' %}
                  <img class="photo-grid-image-mobile" class="showImage" loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="" />
          {% endif %}
        {% endfor %}
      </div>
</body>
